<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Sentipy-Sentimental analysis using real-time twitter data</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->

      
    </head>
    <body>

        <div id="container">
            <div class="title">
                <h1>Sentipy-Sentimental analysis using real-time twitter data</h1>
            </div>
            <div id="content">
                {% if sorry == "T" %}
                {% include 'sorry.html' %}
                {% endif %}
                <form name="myForm" method="post" action="{{ url_for('submit') }}" >
                  <table>
                  <tr>
                  <td><label for="yourname">Please enter your search term:</label></td>
                  <td colspan="2"><input type="text" name="yourname" autocomplete="off" placeholder="Search term" autofocus required/></td>
                  </tr>
                  <tr>
                  <td><label for="Time for accessing">Please enter the time period:</label></td>
                  <td><input type="radio" name="options" id="option1" value="today" required> Today </input></td>
                  <td><input type="radio" name="options" id="option2" value="lastweek"> Last week </input></td>
                  </tr>
                  <tr>
                  <td><label for="Classifier used">Please enter the classifier to be used:</label></td>
                  <td><input type="radio" name="c" id="c1" value="maxent" required> Maximum entropy </input></td>
                  <td><input type="radio" name="c" id="c2" value="svm" > svm </input></td>
                  </tr>
                  <tr><td colspan="3" id="but"><button id="button" type="submit">Submit</button></td></tr>
                  </table>
                </form>
            </div>
            </div>
        </div>
        <div id="container">
          <div class="title">
                <h1>Recent searches</h1>
            </div>
          <div id="content">
           <table class="zui-table zui-table-highlight-all">
                <thead>
                    <tr>
                      <th>#</th>
                      <th>Date</th>
                      <th>Keyword searched</th>
                      <th>Result in the format {Positive/Neutral/Negative}</th>
                      <th>Classifier used</th>
                   </tr>
                 </thead>
                {% for item in items %}
                <TR>
                    <TD>{{item.sno}}</TD>
                   <TD>{{item.date}}</TD>
                   <TD>{{item.keyword}}</TD>
                   <TD><SPAN>{{item.result}}</SPAN></TD>
                   <TD>{{item.c}}</TD>
                </TR>
                {% endfor %}
                </table>
                <br/>
                <a href="{{ url_for('history') }}"><button> See more... &#8658; </button></a>
                <br/>
                <br/>
          </div>
        </div>
         <div id="footer"><footer><p style="text-align:center;">Version 1.0 . This site is designed by sriram &#38; srinath &#169; 2016</p></footer></div>
    </body>
</html>
 
